html {
  min-width: 320px;

  font-weight: 400;
  /* font-size: var(--size-n); */

  /* font-family: var(--font-main); */
  /* line-height: var(--lh-n); */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;

  overflow-y: scroll;
}

input {
  margin: 0;
}

/* скрываем сломанные пиксели сторонних скриптов, кототрые создавали пустые места под подвалом */
body > img {
  display: block;
  height: 0px;
}

/* скрываем страницу до загрузки скрипта optimize от google */
.async-hide {
  opacity: 0;
}
